* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: 0.2s;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.produto-item {
  background: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.produto-item:hover {
  transform: translateY(-5px);
}

.produto-item img {
  width: 100%;
  height: 310px;
  transform: scaleY(0.85);
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: green;
  margin: 5px 0;
}
.rating {
  color: #f39c12;
  font-weight: bold;
}

.btn-comprar {
  background: rgb(255, 153, 0);
  color: #000000;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2;
  margin-top: 15px;
}
.btn-comprar:hover {
  background: rgb(218, 131, 0);
}

.btn-carrinho {
  background: rgb(247, 210, 0);
  color: #000000;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2;
  margin-top: 15px;
}
.btn-carrinho:hover {
  background: rgb(206, 175, 0);
}

.header {
  width: 100%;
  background: rgb(26, 26, 26);
  position: absolute;
  top: 0;
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.9);
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
}
.conteiner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

/* Estilos para o carrinho */
.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  margin-right: 10px;
  border-radius: 4px;
}

.cart-item-details {
  text-align: left;
}

.cart-item-details h6 {
  margin: 0;
  font-size: 0.9rem;
  color: #000000;
}

.cart-item-details p {
  font-weight: bold;
  margin: 5px 0 0;
  font-size: 0.8rem;
  color: green;
}

.dropdown-menu {
  min-width: 300px;
  padding: 15px;
}

.cart-total {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: right;
}

body {
  padding-top: 12vh;
  padding-bottom: 12vh;
  height: auto;
  min-height: 100vh;
}
